<script>

    var Table;
    var State;

    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.destroy();
        }

        Table = $('#Table').DataTable({
            fixedHeader: {
                header: true
            },
            pageLength: 10,
            destroy: true,
            orderCellsTop: true,
            responsive: true,
            processing: true, // untuk menampilkan bar prosessing
            serverSide: true, // untuk proses server side datatable harus diset true
            orderMulti: false, // untuk disable multi order column
            retrieve: true,
            //autoWidth: true,
            dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
            //data: data,
            ajax: {
                "url": '../MasterSystemParameter/LoadData',
                "type": "POST",
                "datatype": "json",
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        title: "Timeout",
                        text: "Request Timeout Mohon Reload Halaman Ini!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                window.location.reload();
                            }
                        });
                }
            },
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                paginate: {
                    first: "Halaman Awal",
                    last: "Halaman Akhir",
                    previous: "Halaman Sebelumnya",
                    next: "Halaman Selanjutnya",
                },
                lengthMenu: "Menampilkan _MENU_ Data",
                emptyTable: "Data tidak ditemukan",
                infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                zeroRecords: "Data tidak ditemukan"
            },
            columns: [
                { responsivePriority: 1, "data": "number", title: "No" },
                {
                    responsivePriority: 2,
                    "data": "id", "name": "Id", title: "Action", "orderable": false, "visible": true, "render": function (data, type, full, meta) {

                        return '<td class="project-actions text-right">'
                            + '<a class="btn btn-info btn-sm mr-2" href="javascript:void(0)" onclick="Edit(' + full.id + ')" ><i class="fas fa-pencil-alt"></i> Edit</a>'
                            + '<a class="btn btn-info btn-sm mr-2" href="javascript:void(0)" onclick="View(' + full.id + ')"><i class="fas fa-eye"></i> View</a>'
                            + '<a class="btn btn-info btn-sm mr-2" href="javascript:void(0)" onclick="Delete(' + full.id + ')"><i class="fas fa-trash"></i> Delete</a>'
                            + '</td>'
                    }
                },
                { responsivePriority: 3, "data": "key", title: "Key" },
                { responsivePriority: 4, "data": "value", title: "Value" },
                { responsivePriority: 5, "data": "description", title: "Keterangan" },
                {
                    responsivePriority: 6, "data": "isActive", title: "Status", "render": function (data, type, full, meta) {
                        if (full.isActive == true) {
                            return '<button class="btn btn-success" style="width: 7rem">Aktif</button>'
                        }
                        else {
                            return '<button class="btn btn-danger" style="width: 7rem">Tidak Aktif</button>'
                        }
                    }
                }
            ],
            columnDefs: [
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-comment'>" + data + "</div>";
                    },
                    targets: 5
                }
            ],
            "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            Table.columns(2).search($('#txtKeySearchParam').val());
            Table.columns(3).search($('#txtValueSearchParam').val());


            //hit search ke server
            Table.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtKeySearchParam').val("");
            $('#txtValueSearchParam').val("");

            Table.columns(2).search($('#txtKeySearchParam').val());
            Table.columns(3).search($('#txtValueSearchParam').val());
            //hit search ke server
            Table.draw();
        });

        Table.columns.adjust().responsive.recalc();
    }

    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../MasterSystemParameter/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //Cek session terlebih dahulu
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        RenderView(data)
                        ValidationForm();
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function Edit(id) {
        State = "edit";
        SearchData = { "id": id }
        UrlPartialView = '../MasterSystemParameter/Edit';
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //Cek session terlebih dahulu
        LoadPartialViewData(UrlPartialView, function (data) {
            $('#DivContentBody').hide();
            RenderView(data)
            ValidationForm();
        }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function View(id) {
        State = "view";
        SearchData = { "id": id }
        UrlPartialView = '../MasterSystemParameter/View';
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //Cek session terlebih dahulu
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        RenderView(data)
                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function Delete(id) {
        State = "delete";
        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'GET',
                        url: '../Login/CekSession',
                        success: function (hasil) {
                            if (hasil == true) {
                    $.ajax({
                                    url: '../MasterSystemParameter/Delete',
                        type: 'POST',
                        data: { "Ids": id },
                        success: function (d) {
                            if (d == "") {
                                NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                            } else {
                                NotifikasiError("Error", "Data gagal dihapus!")
                            }
                            Table.draw();
                        }
                    });
                            }
                            else {
                                window.location.href = "../Login/Login?a=true";
                            }
                        }
                    });
                }
            });
        return false;
    }

    function ValidationForm() {
        //Untuk validasi form

        $('#FormData').validate({
            rules: {
                Type: {
                    required: true
                },
                Name: {
                    required: true
                },
                Value: {
                    required: true
                },
                Orderby: {
                    required: true
                },
                Keterangan: {
                    required: true
                },
                Isactive: {
                    required: true
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        $('#Submit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "create") {
                    url = '../MasterSystemParameter/SubmitCreate';
                }
                else {
                    url = '../MasterSystemParameter/SubmitEdit';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            //Cek session terlebih dahulu
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
        
        $("#Back").click(function () {
            $('#DivContentBody').show();
            document.getElementById("DivFormBody").innerHTML = "";
        });
    }

</script>