@using DashboardDevaBNI.Component;
@using Microsoft.AspNetCore.Http;﻿

@{
    var SubDomain = GetConfig.AppSetting["Subdomain:Domain"];
    var Nama_Pegawai = Context.Session.GetString(SessionConstan.Session_Name);
    ViewData["Title"] = "Home";
}

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="@SubDomain/lib/adminlte-master/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="@SubDomain/lib/adminlte-master/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="@SubDomain/lib/adminlte-master/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@SubDomain/lib/adminlte-master/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="@SubDomain/lib/adminlte-master/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


    <!-- Toastr -->
    <link href="@SubDomain/lib/adminlte-master/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/lib/adminlte-master/plugins/chart.js/chart.min.css" rel="stylesheet" />
}
@section Scripts {
    <!-- DataTables -->
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="@SubDomain/lib/adminlte-master/plugins/select2/js/select2.full.min.js"></script>
    <!-- Validation -->
    <script src="@SubDomain/lib/adminlte-master/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="@SubDomain/lib/adminlte-master/plugins/jquery-validation/additional-methods.min.js"></script>

    <!-- Toastr -->
    <script src="@SubDomain/lib/adminlte-master/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/adminlte-master/plugins/chart.js/chart.js"></script>
    <!-- Sweetalert -->
    <script src="@SubDomain/lib/bootstrap-sweetalert/sweetalert.min.js"></script>

    @Html.Partial("_Script")
}

<div id="DivContentBody">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Home</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row text-center">
                <span style="font-size: xx-large"><b>Welcome</b> to <b>Deva</b> Application</span>
                <h1 id="Time" style="font-size: xxx-large">--:--</h1>
                <span id="Day" style="font-size: xx-large">---,-- --</span>
                <span style="font-size: xx-large"><b id="Greeting">--- ---,</b> @Nama_Pegawai</span>
            </div>
        </div>
    </section>
    @* <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>150</h3>

                            <p>Total Permintaan</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>53</h3>

                            <p>Total Terpenuhi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>97</h3>

                            <p>Total Belum Terpenuhi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Permintaan masuk</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">1230</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <span class="text-success">
                                        <i class="fas fa-arrow-up"></i> 33.1%
                                    </span>
                                    <span class="text-muted">Since last month</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="sales-chart" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <span class="mr-2">
                                    <i class="fas fa-square text-primary"></i> This year
                                </span>

                                <span>
                                    <i class="fas fa-square text-gray"></i> Last year
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section> *@
    
</div>
